<div class="container" style="margin-top: 100px;">

    <div class=" d-flex justify-content-between">
        <div class="col-md-4 p-0 align-self-end">
            <hr class="linea_separador">
        </div>
        <div class="col-md-4 p-0">
            <p class="separadores text-center">ELIGE UNO DE NUESTROS SERVICIOS</p>
        </div>
        <div class="col-md-4 p-0 align-self-end">
            <hr class="linea_separador">
        </div>
    </div>
    <!-- CARD DOCENTE, ALUMNO, PADRE -->
    <div class="row card-deck mt-5">
        <div class="card-alumno card cards col-md-4 card-img-top" style="width: 18rem;" alt="img" data-toggle="modal"
        data-target="#moda_docentes" data-whatever="@mdo">

            <app-cardocente></app-cardocente>

        </div>
        <div class="card-alumno card cards col-md-4 card-img-top" style="width: 18rem;" alt="img" data-toggle="modal"
            data-target="#moda_alumnos" data-whatever="@mdo">

            <app-caralumno></app-caralumno>

        </div>
        <div class="card-alumno card cards col-md-4 card-img-top" style="width: 18rem;" alt="img" data-toggle="modal"
            data-target="#moda_padres" data-whatever="@mdo">

            <app-carpadre></app-carpadre>
            
        </div>
    </div>
</div>