<div class=" d-flex justify-content-between mx-1">
  <div class="col-md-3 p-0">
    <p class="separadores"><span class="Defaults-list-alt"></span> LISTA DE PADRES</p>
  </div>
  <div class="col-md-9 p-0 align-self-end">
    <hr class="linea_separador">
  </div>
</div>

<a class="btn btn-success my-3 ml-5" routerLink="padre/crear"> <span class="Defaults-plus"></span> Registrar nuevo Padre</a>

<div class="mx-5">

  <table class="table table-hover responsive">
    <thead>
      <tr>
        <th scope="col">Nro</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">DNI</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Column content</td>
        <td>Column content</td>
        <td>12312312</td>
        <td>
          <button class="btn btn-info">Detalles</button>
          <button class="btn btn-primary mx-2">Editar</button>
          <button class="btn btn-danger">Eliminar</button>
        </td>
      </tr>
      <tr class="table-info">
        <th scope="row">2</th>
        <td>Column content</td>
        <td>Column content</td>
        <td>12312312</td>
        <td>
          <button class="btn btn-info">Detalles</button>
          <button class="btn btn-primary mx-2">Editar</button>
          <button class="btn btn-danger">Eliminar</button>
        </td>
      </tr>
  
  
    </tbody>
  </table>
</div>