<div class=" d-flex justify-content-between mx-1">
  <div class="col-md-3 p-0">
    <p class="separadores"><span class="Defaults-dropbox"></span> REGISTRAR NUEVO PERIODO</p>
  </div>
  <div class="col-md-9 p-0 align-self-end">
    <hr class="linea_separador">
  </div>
</div>

<form class="m-4" [formGroup]="formPeriod" (ngSubmit)="crearPeriod();">

  <a class="btn btn-success mb-4" routerLink="periodos/list">
    <span class="Defaults-list-alt"></span> Lista de Padres
  </a>


  <div class="form-group row">
    <label for="documento" class="col-sm-2">*Nombre del Periodo:</label>
    <div class="col-sm-4">
      <input required type="text" id="documento" class="form-control" formControlName="nombrePeriod"
        [class.is-valid]="nombrePeriodValid" [class.is-invalid]="nombrePeriodInvalid">
      <p class="Defaults-times-circle text-danger mt-2" *ngIf="">
        <span>
          Nombre del periodo es requerido.
        </span>
      </p>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-6">
      <button class="btn btn-primary btn-block">Registrar periodo</button>
    </div>
  </div>
  <pre>
    {{ formPeriod.value | json}}
    </pre>
</form>