<form class="user">
  <div class="form-group row">
    <div class="col-sm-6 mb-3 mb-sm-0">
      <label for="">Periodo</label>
      <input type="text" class="form-control form-control-user" id="exampleFirstName" placeholder="Nombre del periodo">
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-3 text-center">
      <button class="btn btn-primary btn-block">Crear</button>
    </div>
    <div class="col-sm-3 text-center">
      <a class="btn btn-danger btn-block" routerLink="/admin/periodos">Cancelar</a>
    </div>
  </div>
</form>
