 <!-- NUESTRAS REDES SOCIALES -->
 <div class="row">
    <div class="col-lg">
        <div class=" redes_sociales">
            <div class="d-flex justify-content-between">
                <div class="col-md-4 p-0">
                    <p class="separadores">REDES SOCIALES</p>
                </div>
                <div class="col-md-8 p-0 align-self-end">
                    <hr class="linea_separador">
                </div>
            </div>
            
            <div class="row d-flex align-items-center text-center">
                <div class="col-lg">
                    <a href="">
                        <i class="fa fa-facebook rs-face"></i>
                    </a>
                    <p class="pt-3"><b>Facebook</b></p>
                </div>
                <div class="col-lg">
                    <a href="">
                        <i class="fa fa-whatsapp rs-what"></i>
                    </a>
                    <p class="pt-3"><b>Whassap</b></p>
                </div>
            </div>
        </div>
    </div>
</div>