  <!-- NUESTROS PILARES-->
  <section>
    <div class=" d-flex justify-content-between">
        <div class="col-md-4 p-0">
            <p class="separadores">NUESTROS PILARES</p>
        </div>
        <div class="col-md-8 p-0 align-self-end">
            <hr class="linea_separador">
        </div>
    </div>

    <div class="row">

        <div class="col-lg">
            <fieldset class="p-3">
                <legend class="legend">
                    <h3 class="separadores vision_mision my-3 text-center">FORMACIÓN INTEGRAL</h3>
                </legend>
                <div class="text-center">
                    <figure>
                        <img class="img_docente" src="assets/imgs/profesor1.jpg"
                            style="width: 50%;" alt="">
                    </figure>
                    <blockquote>
                        <p class="card-text" style=" margin: 0px; padding: 5px 10px;">
                            Educar de manera integral es atender a todas las dimensiones de la persona,
                            desarrollando su
                            formación intelectual, cultural, crecimiento espiritual y madurez emocional;
                            alentando
                            la
                            participación solidaria y el esfuerzo deportivo en cada una de las etapas de su vida
                            escolar.
                        </p>
                    </blockquote>
                </div>
            </fieldset>
        </div>
        <div class="col-lg">
            <fieldset class="p-3">
                <legend class="legend">
                    <h3 class="separadores vision_mision my-3 text-center">ACESORIA PERSONALIZADA</h3>
                </legend>
                <div class="text-center">
                    <figure>
                        <img class="img_docente" src="assets/imgs/profesora.png"
                            style="width: 50%;" alt="">
                    </figure>
                    <blockquote>
                        <p class="card-text" style=" margin: 0px; padding: 5px 10px;">
                            El acompañamiento es uno de nuestros pilares fundamentales y se traslada al soporte
                            oportuno de los alumnos y sus familias.
                            Atender las necesidades de nuestros alumnos,es lo que nos permite
                            identificar sus capacidades, talentos y dificultades para mejorarlos
                            a lo largo de su educación escolar de la mano de su familia.
                        </p>
                    </blockquote>
                </div>
            </fieldset>
        </div>
        <div class="col-lg">
            <fieldset class="p-3">
                <legend class="legend">
                    <h3 class="separadores vision_mision my-3 text-center">EDUCACIÓN CON LA FAMILIA</h3>
                </legend>
                <div class="text-center">
                    <figure>
                        <img class="img_docente" src="assets/imgs/profesora1.jpg"
                            style="width: 50%;" alt="">
                    </figure>
                    <blockquote>
                        <p class="card-text" style=" margin: 0px; padding: 5px 10px;">
                            Fomentando la participación de la familia creamos un entorno afectivo,
                            cálido y seguro que convierte el aprendizaje en una experiencia enriquecedora y hace
                            que los niños puedan sentirse queridos y confiados como en casa.
                            Trabajar en conjunto familia y colegio permite el desarrollo integral de los
                            alumnos.
                        </p>
                    </blockquote>
                </div>
            </fieldset>
        </div>
    </div>

</section>