   <!-- SOMOS -->
   <section>
    <div class=" d-flex justify-content-between">
        <div class="col-md-4 p-0">
            <p class="separadores">QUIENES SOMOS</p>
        </div>
        <div class="col-md-8 p-0 align-self-end">
            <hr class="linea_separador">
        </div>
    </div>
    <div>
        <blockquote class="row">
            <div class="d-flex justify-content-end col-lg-1">
                <i class="fa fa-quote-left comilla"></i>
            </div>
            <p class="card-text col-lg-10">
                Somos una institución educativa privada con tradición, líder en los distintos sectores en los que
                operamos. Nos
                manejamos con altos estándares de gestión y producción, para competir internacionalmente. Nuestra
                profesionalización ha permitido que seamos reconocidos como uno de los grupos económicos más
                importantes y
                sólidos del Perú.
            </p>
            <div class="d-flex align-items-end col-lg-1">
                <i class="fa fa-quote-right comilla"></i>
            </div>
        </blockquote>
    </div>
</section>
   <!-- IMAGEN PORTADA-->
   <section class="imagen">
    <div class="row d-flex justify-content-center">
        <figure class="mt-3">
            <img class="nosotros_portada" src="assets/imgs/imagen grande.jpg"
                alt="imagen">
        </figure>
    </div>
</section>