<div class=" d-flex justify-content-between" style="margin-top: 150px;">
    <div class="col-md-4 p-0">
        <p class="separadores">CONTÁCTENOS</p>
    </div>
    <div class="col-md-8 p-0 align-self-end">
        <hr class="linea_separador">
    </div>
</div>

<!-- ESCRIBENOS LLAMANOS VISITANOS -->
<div class="row">
    <div class="col-lg-4 my-4">
        <div>
            <fieldset class="p-3 fieldset">
                <legend class="legend">
                    <i class="fa fa-home"></i>
                </legend>
                <div class="">
                    <h3>Visítanos</h3>
                    <p>Av. Real #1242 chilca/Huancayo</p>
                </div>
            </fieldset>
        </div>
    </div>

    <div class="col-lg-4 my-4">
        <div>
            <fieldset class="p-3 fieldset">
                <legend class="legend">
                    <i class="fa fa-phone"></i>
                </legend>
                <div class="">
                    <h3>Llámanos</h3>
                    <p>(064) 398655</p>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="col-lg-4 my-4">
        <div>
            <fieldset class="p-3 fieldset">
                <legend class="legend">
                    <i class="fa fa-book"></i>
                </legend>
                <div class="">
                    <h3>Escríbenos</h3>
                    <p>colegio@union.com</p>
                </div>
            </fieldset>
        </div>
    </div>


</div>