 <!--  ¿POR QUÉ ESTUDIAR CON NOSOTROS? -->
 <section class="">

    <div class="d-flex justify-content-between mb-3 ">
      <div class="col-5 p-0">
        <p class="separadores">¿POR QUÉ ESTUDIAR CON NOSOTROS?</p>
      </div>
      <div class="col-7 p-0 align-self-end">
        <hr class="linea_separador">
      </div>
    </div>


    <div style="text-align:center">
      <p>
        Somos la mejor opción para tus hijos, somos un colegio con experiencia y dedicación en nuestra labor
        diaria, nuestro único objetivo es
        contribuir a que los niños y jóvenes alcancen sus sueños y metas, a que diseñen y proyecten su futuro,
        conscientes de que una buena educación es la mejor herramienta que pueden tener ante los retos que hoy
        en día tiene la sociedad. Es por esto y más que nos da mucho gusto que leas nuestras páginas, nuestras
        publicaciones, nuestra historia, que conozcas nuestras instalaciones, nuestros alumnos, nuestros
        valores, nuestra comunidad… ya que lo aquí mostramos es un reflejo de nuestra realidad.
      </p>

      <p><strong>El Colegio Unión Pacífico</strong> les dará más cordial bienvenida.</p>
    </div>
  </section>