.nosotros_portada{ 
    width: 100%;
    border-radius: 15px;
    border: solid $red;
    border: solid red 1px;
    filter: drop-shadow(0px 0px 15px $red);
}
figure{
    padding: 15px 0px;
    .mis_vis{
        width: 59%;
        height: 59%;
        border-radius: 50%;
        border: solid $red 1px;
        filter: drop-shadow(0px 0px 15px $red);
    }
}
.mis_vis:hover{
    border-radius: 50%;
    border: solid red 2px;
    filter: drop-shadow(0px 0px 15px $red);
}
.medallas{
    filter: drop-shadow(0px 0px 10px $red);
}
.img_docente{
    width: 70%;
    border-radius: 50%;
    border: solid $red 1px;
    filter: drop-shadow(0px 0px 5px red);
}
.img_docente:hover{
    border-radius: 50%;
    border: solid red 2px;
    filter: drop-shadow(0px 0px 8px $red);
}