.circle-star {
 display: flex;
 padding: 20px 0px;
 flex-direction: row;

 &-icon {
   width: 110px;
   height: 110px;
   background: $red;
   border-radius: 50%;
   position: relative;
   margin-right: 15px;

   i {
     position: absolute;
     left: 50%;
     top: 50%;
     transform: translate(-50%, -50%);
     color: $white;
     font-size: 51px;
   }
 }

 &-texts {
   display: flex;
   flex-direction: column;
   justify-content: center;

   h2 {
     color: $black;
     margin-bottom: 0;
   }

   span {
     color: $red;
   }
 }
}