<!-- FORMULARIO DE CONTACTO Y UBICACION -->
<div class="row mb-5">
  <div class="col-lg-6">
    <div class=" d-flex justify-content-between mb-4">
      <div class="col-md-4 p-0">
        <p class="separadores">FORMULARIO</p>
      </div>
      <div class="col-md-8 p-0 align-self-end">
        <hr class="linea_separador">
      </div>
    </div>
    <form [formGroup]="formContacto" (ngSubmit)="guardarContacto();">
      <div class="px-3">
        <div class="form-group">
          <label for="">Nombres y Apellidos:</label>
          <input class="form-control" type="text" name="nombre" formControlName="nombre"
          [class.is-valid]="formContacto.get('nombre').valid">
        </div>
        <div class="form-group">
          <label for="">Correo Electrónico:</label>
          <input class="form-control" type="email" name="correo" formControlName="correo"
          [class.is-valid]="formContacto.get('correo').valid">
        </div>
        <div class="form-group">
          <label for="">Asunto:</label>
          <input class="form-control" type="text" name="asunto" formControlName="asunto"
          [class.is-valid]="formContacto.get('asunto').valid">
        </div>
        <div class="form-group">
          <label for="">Comentario:</label>
          <textarea class="form-control" type="text" name="Comentario" formControlName="comentario"
          minlength="10" maxlength="100"
          [class.is-valid] = "formContacto.get('comentario').valid"
          [class.is-invalid]="formContacto.get('comentario').invalid && formContacto.get('comentario').touched">
          </textarea>    {{ formContacto.value.comentario.length }}/100

        </div>
        <button  [class.disabled]="!formContacto.valid" type="submit" class="btn btn-primary boton_form"  >
          Enviar mensaje
        </button>
      </div>
    </form>
    <hr style="width: 100%; border: solid #B00D0F 1px; margin-top: 30px;">
  </div>
  <div class="col-lg-6 mb-5">
    <div class=" d-flex justify-content-between mb-4">
      <div class="col-md-4 p-0">
        <p class="separadores">UBICACIÓN</p>
      </div>
      <div class="col-md-8 p-0 align-self-end">
        <hr class="linea_separador">
      </div>
    </div>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1379.3427705848085!2d-75.19897867013206!3d-12.086768457084478!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x8b1b824eb8301632!2sUnion%20Pac%C3%ADfico!5e0!3m2!1ses!2spe!4v1583152976981!5m2!1ses!2spe"
      width="100%" height="100%" frameborder="0" style="border:solid #B00D0F 2px;" allowfullscreen="">
    </iframe>
  </div>
</div>