<!-- FORMANDO EL FUTURO -->
<section class="row eventos">
    <div class="col-sm-8">
      <div class=" d-flex justify-content-between mb-4">
        <div class="col-md-4 p-0">
          <p class="separadores">FORMANDO EL FUTURO</p>
        </div>
        <div class="col-md-8 p-0 align-self-end">
          <hr class="linea_separador">
        </div>
      </div>
      <!-- ************* ESTA ES LA PARTE SEGUIDA DE LAS TRESA ESTRELLAS INICIAL PRIMARIA Y SECUNDARIA ****** -->
      <p style="color: #B00D0F;" class="vc_custom_heading ch-border-title vc_custom_1468936509130">
        Realmente
        nos
        preocupamos por la educación de nuestros alumnos</p>
      <div class="wpb_text_column wpb_content_element  vc_custom_1468936530457">
        <p style="color: black;">El Colegio Unión Pacífico te da la bienvenida, a un lugar donde
          la curiosidad natural
          y la imaginación dirigen la exploración y el descubrimiento. Vamos ayudar a
          sus hijos a encontrarse y dirigirse en sus estudios, desde los más pequeños
          hasta nuestro jóvenes de secundaria. Y vamos acompañarte a ti, mamá y papá,
          en este arduo pero reconfortante camino que es la educación de sus hijos.
           Bienvenidos.</p>
      </div>
    </div>
    <!-- 	CALENDARIO -->
    <div class="col-sm-4">
      <div class="d-flex justify-content-between mb-4">
        <div class="col-md-10 p-0">
          <p class="separadores">CALENDARIO DE EVENTOS</p>
        </div>
        <div class="col-md-2 p-0 align-self-end">
          <hr class="linea_separador">
        </div>
      </div>
      <div class='eme-calendar' id='eme-calendar-190'>
        <table class='eme-calendar-table smallcalendar'>
          <thead>
            <tr>
              <td class='month_name' colspan='7'><a class='prev-month' href="#">&lt;&lt;</a> Feb
                2020 <a class='next-month' href="#">&gt;&gt;</a></td>
            </tr>
          </thead>
          <tr class='days-names'>
            <td class='Mon_header'>L</td>
            <td class='Tue_header'>M</td>
            <td class='Wed_header'>X</td>
            <td class='Thu_header'>J</td>
            <td class='Fri_header'>V</td>
            <td class='Sat_header'>S</td>
            <td class='Sun_header'>D</td>
          </tr>
          <tr>
            <td class="Mon eventless-pre">27</td>
            <td class="Tue eventless-pre">28</td>
            <td class="Wed eventless-pre">29</td>
            <td class="Thu eventless-pre">30</td>
            <td class="Fri eventless-pre">31</td>
            <td class="Sat eventless">1</td>
            <td class="Sun eventless">2</td>
          </tr>
          <tr>
            <td class="Mon eventless">3</td>
            <td class="Tue eventless">4</td>
            <td class="Wed eventless">5</td>
            <td class="Thu eventless">6</td>
            <td class="Fri eventless">7</td>
            <td class="Sat eventless">8</td>
            <td class="Sun eventless">9</td>
          </tr>
          <tr>
            <td class="Mon eventless">10</td>
            <td class="Tue eventless-today">11</td>
            <td class="Wed eventless">12</td>
            <td class="Thu eventless">13</td>
            <td class="Fri eventless">14</td>
            <td class="Sat eventless">15</td>
            <td class="Sun eventless">16</td>
          </tr>
          <tr>
            <td class="Mon eventless">17</td>
            <td class="Tue eventless">18</td>
            <td class="Wed eventless">19</td>
            <td class="Thu eventless">20</td>
            <td class="Fri eventless">21</td>
            <td class="Sat eventless">22</td>
            <td class="Sun eventless">23</td>
          </tr>
          <tr>
            <td class="Mon eventless">24</td>
            <td class="Tue eventless">25</td>
            <td class="Wed eventless">26</td>
            <td class="Thu eventless">27</td>
            <td class="Fri eventless">28</td>
            <td class="Sat eventless">29</td>
            <td class="Sun eventless-post">1</td>
          </tr>
        </table>

        <script type='text/javascript'>
          jQuery('#eme-calendar-190 a.prev-month').click(function (e) {
            e.preventDefault();
            emeCalDiv = jQuery('#eme-calendar-190');
            jQuery('#eme-calendar-190 a.prev-month').html('<img src="wp-content/plugins/events-made-easy/images/spinner.gif">');
            loadCalendar(emeCalDiv, '0', '1', '0', '0', '01', '2020', '0', '', '', '', '0', '0', '0', '', '');
          });
          jQuery('#eme-calendar-190 a.next-month').click(function (e) {
            e.preventDefault();
            emeCalDiv = jQuery('#eme-calendar-190');
            jQuery('#eme-calendar-190 a.next-month').html('<img src="wp-content/plugins/events-made-easy/images/spinner.gif">');
            loadCalendar(emeCalDiv, '0', '1', '0', '0', '03', '2020', '0', '', '', '', '0', '0', '0', '', '');
          });
        </script>
      </div>
    </div>
  </section>