<!-- ESTE ES EL SLIDER DE IMAGENES DE LA PAGINA -->
<div class="ls-wp-fullwidth-container" style="height:550px; background-color: #B00D0F; margin-top: 135px;">
  <div class="ls-wp-fullwidth-helper">
    <div id="layerslider_1" class="ls-wp-container" style="width:100%;height:550px;margin:0 auto;margin-bottom: 0px;">
      <div class="ls-slide" data-ls=" transition2d: all;">
        <img class="ls-l" style="top:396px;left:-296px;white-space: nowrap;"
          data-ls="offsetyin:bottom;fadein:false;offsetyout:bottom;fadeout:false;" src="assets/imgs/lib/rainbow.png"
          alt="">
        <img class="ls-l" style="top:70px;left:680px;white-space: nowrap;"
          data-ls="offsetxin:0;offsetyin:bottom;durationin:1500;delayin:300;easingin:easeInOutElastic;fadein:false;offsetxout:right;durationout:1000;fadeout:false;"
          src="assets/imgs/lib/doodle.png" alt="">
        <img class="ls-l" style="top:121px;left:593px;white-space: nowrap;"
          data-ls="offsetxin:right;fadein:false;offsetxout:right;durationout:1000;fadeout:false;"
          src="/assets/imgs/colegiomexiconina.png" alt="">
        <h1 class="ls-l ch-slider-title-italic" style=" color: white; top:171px;left:44px;white-space: nowrap;"
          data-ls="offsetxin:0;offsetyin:top;delayin:1000;fadein:false;offsetxout:right;durationout:1000;fadeout:false;">
          ¡Aprendamos Juntos!</h1>
        <h1 class="ls-l ch-slider-title-big" style="color: white; top:210px;left:40px;white-space: nowrap;"
          data-ls="offsetxin:0;offsetyin:bottom;delayin:1500;fadein:false;offsetxout:right;durationout:1000;fadeout:false;">
          ¡Es Super!</h1>

        <h5 class="ls-l ch-slider-border-title" style="color: white; top:321px;left:37px;white-space: nowrap;"
          data-ls="offsetxin:left;delayin:2000;fadein:false;offsetxout:0;offsetyout:bottom;durationout:1000;fadeout:false;">
          divertido....! Conócenos ahora</h5>

        <h4 class="ls-l ch-slider-title-italic" style="color: white; top:138px;left:26px;white-space: nowrap;"
          data-ls="offsetxin:0;offsetyin:top;delayin:1000;fadein:false;offsetxout:right;durationout:1000;fadeout:false;">
          Únete al Colegio UNIÓN PACÍFICO </h4>
      </div>
      <div class="ls-slide" data-ls="slidedelay:8000; transition2d: all;">
        <img class="ls-l" style="top:-6px;left:-477px;white-space: nowrap;" data-ls="offsetxin:0;offsetxout:0;"
          src="/assets/imgs/lib/bg-grey.png" alt="">
        <img class="ls-l" style="top:376px;left:-438px;white-space: nowrap;" src="/assets/imgs/lib/rainbow-bigger.png"
          alt="">
        <img class="ls-l" style="top:110px;left:205px;white-space: nowrap;"
          data-ls="offsetxin:0;offsetyin:400;delayin:500;offsetxout:0;offsetyout:-400;easingout:easeInOutElastic;parallaxlevel:1;"
          src="/assets/imgs/lib/blackboard.png" alt="">
        <img class="ls-l" style="top:142px;left:310px;white-space: nowrap;"
          data-ls="offsetxin:0;offsetyin:400;delayin:600;offsetxout:0;offsetyout:-400;parallaxlevel:1;"
          src="/assets/imgs/gis1-colegio-mexico.png" alt="">
        <img class="ls-l" style="top:247px;left:270px;white-space: nowrap;"
          data-ls="offsetxin:1000;delayin:1500;offsetxout:-1000;easingout:easeInOutElastic;parallaxlevel:1;"
          src="/assets/imgs/gis3-personal.png" alt="">
        <img class="ls-l" style="top:290px;left:269px;white-space: nowrap;"
          data-ls="offsetxin:1000;delayin:2000;offsetxout:-1000;parallaxlevel:1;" src="/assets/imgs/gis2-educacion.png"
          alt=""><img class="ls-l" style="top:332px;left:265px;white-space: nowrap;"
          data-ls="offsetxin:1000;delayin:2500;offsetxout:-1000;parallaxlevel:1;" src="/assets/imgs/gis4-canchas.png"
          alt=""><img class="ls-l" style="top:373px;left:264px;white-space: nowrap;"
          data-ls="delayin:3000;parallaxlevel:1;" src="/assets/imgs/gis5-amplias.png" alt=""><img class="ls-l"
          style="top:293px;left:574px;white-space: nowrap;"
          data-ls="offsetxin:0;offsetyin:400;delayin:1000;offsetxout:0;offsetyout:-400;easingout:easeInOutElastic;parallaxlevel:3;"
          src="/assets/imgs/down-e1468253594435.png" alt=""><img class="ls-l"
          style="top:0px;left:139px;white-space: nowrap;"
          data-ls="offsetxin:0;offsetyin:400;delayin:1200;offsetxout:0;offsetyout:-400;parallaxlevel:3;"
          src="/assets/imgs/headdown.png" alt=""><img class="ls-l" style="top:92px;left:732px;white-space: nowrap;"
          data-ls="parallaxlevel:4;" src="/assets/imgs/up.png" alt=""><img class="ls-l"
          style="top:341px;left:-124px;white-space: nowrap;" data-ls="parallaxlevel:5;" src="/assets/imgs/lib/book.png"
          alt=""></div>
      <div class="ls-slide" data-ls="slidedelay:8000; transition2d: all;"><img class="ls-l"
          style="top:-14px;left:-469px;white-space: nowrap;" data-ls="offsetxin:0;offsetxout:0;"
          src="/assets/imgs/lib/bg-clouds.png" alt=""><img class="ls-l" style="top:46px;left:114px;white-space: nowrap;"
          src="/assets/imgs/ni%c3%b1os-feliz.png" alt=""><img class="ls-l"
          style="top:386px;left:-27px;white-space: nowrap;"
          data-ls="offsetxin:0;offsetyin:200;delayin:500;offsetxout:0;parallaxlevel:3;"
          src="/assets/imgs/lib/grass-1.png" alt=""><img class="ls-l" style="top:314px;left:659px;white-space: nowrap;"
          data-ls="offsetxin:0;offsetyin:200;delayin:500;offsetxout:0;parallaxlevel:3;"
          src="/assets/imgs/lib/grass-2.png" alt=""><img class="ls-l" style="top:363px;left:659px;white-space: nowrap;"
          data-ls="offsetxin:0;offsetyin:200;delayin:1000;offsetxout:0;parallaxlevel:4;"
          src="/assets/imgs/lib/flowers.png" alt=""><img class="ls-l" style="top:254px;left:-336px;white-space: nowrap;"
          data-ls="offsetxin:0;offsetyin:200;delayin:500;offsetxout:0;parallaxlevel:8;"
          src="/assets/imgs/lib/grass-1-1.png" alt=""><img class="ls-l"
          style="top:365px;left:548px;white-space: nowrap;"
          data-ls="offsetxin:0;offsetyin:200;delayin:500;offsetxout:0;parallaxlevel:8;"
          src="/assets/imgs/lib/grass-2-1.png" alt=""><img class="ls-l" style="top:87px;left:892px;white-space: nowrap;"
          data-ls="offsetxin:0;offsetyin:-300;delayin:1500;offsetxout:0;offsetyout:-300;parallaxlevel:10;"
          src="/assets/imgs/lib/butterfly.png" alt=""><img class="ls-l" style="top:354px;left:7px;white-space: nowrap;"
          data-ls="offsetxin:0;offsetyin:200;delayin:1000;offsetxout:0;parallaxlevel:5;"
          src="/assets/imgs/lib/butterfly-and-flower.png" alt=""><img class="ls-l"
          style="top:431px;left:493px;white-space: nowrap;"
          data-ls="offsetxin:300;offsetyin:-400;delayin:2000;offsetxout:-300;offsetyout:-400;showuntil:6000;parallaxlevel:10;"
          src="/assets/imgs/lib/ball.png" alt="">
        <h5 class="ls-l"
          style="top:103px;left:6px;font-weight: normal;text-shadow: none;padding-top:0px;padding-right:10px;padding-bottom:0px;padding-left:10px;font-family:Lifestyle Rounded M54;font-size:35px;color:#f5f3f0;background:#B00D0F;border-radius:2px;"
          data-ls="parallaxlevel:6;">Divertido</h5>
        <h4 class="ls-l"
          style="top:166px;left:15px;font-weight: normal;text-shadow: none;font-family:Arvo;font-size:24px;background:rgba(177, 224, 183, 0.45);white-space: nowrap;"
          data-ls="parallaxlevel:6;">Conoce, aprende, diviértete</h4><img class="ls-l"
          style="top:-16px;left:139px;white-space: nowrap;" data-ls="parallaxlevel:6;"
          src="/assets/imgs/lib/Slajd-02.png" alt=""><img class="ls-l" style="top:-34px;left:423px;white-space: nowrap;"
          data-ls="parallaxlevel:6;" src="/assets/imgs/lib/Slajd-02.png" alt="">
      </div>
      <div class="ls-slide" data-ls="slidedelay:8000;transition2d:3,4;"><img class="ls-l"
          style="top:0px;left:-468px;white-space: nowrap;" data-ls="offsetxin:0;offsetxout:0;"
          src="/assets/imgs/lib/bg-01.png" alt=""><img class="ls-l" style="top:243px;left:867px;white-space: nowrap;"
          data-ls="offsetxin:500;durationin:10000;easingin:linear;offsetxout:-500;durationout:3000;easingout:linear;parallaxlevel:8;"
          src="/assets/imgs/lib/cloud01.png" alt=""><img class="ls-l" style="top:82px;left:21px;white-space: nowrap;"
          data-ls="offsetxin:500;durationin:10000;delayin:500;easingin:linear;offsetxout:-500;durationout:3000;easingout:linear;parallaxlevel:8;"
          src="/assets/imgs/lib/cloud04.png" alt=""><img class="ls-l" style="top:77px;left:893px;white-space: nowrap;"
          data-ls="offsetxin:-1500;durationin:10000;delayin:1000;easingin:linear;offsetxout:-500;durationout:3000;easingout:linear;parallaxlevel:8;"
          src="/assets/imgs/lib/cloud02.png" alt=""><img class="ls-l" style="top:317px;left:46px;white-space: nowrap;"
          data-ls="offsetxin:-1500;durationin:10000;delayin:1500;easingin:linear;offsetxout:500;durationout:3000;easingout:linear;parallaxlevel:8;"
          src="/assets/imgs/lib/cloud01.png" alt=""><img class="ls-l" style="top:120px;left:-113px;white-space: nowrap;"
          data-ls="offsetxin:-500;durationin:10000;delayin:500;easingin:linear;offsetxout:500;durationout:3000;easingout:linear;parallaxlevel:8;"
          src="/assets/imgs/lib/cloud02.png" alt=""><img class="ls-l" style="top:168px;left:98px;white-space: nowrap;"
          data-ls="offsetxin:500;durationin:10000;delayin:1000;easingin:linear;offsetxout:-500;durationout:3000;easingout:linear;parallaxlevel:8;"
          src="/assets/imgs/lib/cloud03.png" alt=""><img class="ls-l" style="top:140px;left:233px;white-space: nowrap;"
          data-ls="offsetxin:500;durationin:10000;delayin:1500;easingin:linear;offsetxout:-500;durationout:3000;easingout:linear;parallaxlevel:8;"
          src="/assets/imgs/lib/cloud04.png" alt=""><img class="ls-l" style="top:147px;left:776px;white-space: nowrap;"
          data-ls="offsetxin:0;offsetyin:500;durationin:1500;delayin:500;easingin:easeInOutElastic;offsetxout:0;offsetyout:-500;durationout:1000;showuntil:5000;easingout:easeInOutElastic;"
          src="/assets/imgs/colmex4.png" alt=""><img class="ls-l" style="top:163px;left:326px;white-space: nowrap;"
          data-ls="offsetxin:0;offsetyin:500;durationin:1500;delayin:750;easingin:easeInOutElastic;offsetxout:0;offsetyout:-500;durationout:1000;showuntil:5000;easingout:easeInOutElastic;"
          src="/assets/imgs/colmex1.png" alt=""><img class="ls-l" style="top:155px;left:586px;white-space: nowrap;"
          data-ls="offsetxin:0;offsetyin:400;durationin:1500;delayin:1000;easingin:easeInOutElastic;fadein:false;offsetxout:0;offsetyout:400;durationout:1000;showuntil:5000;easingout:easeInOutElastic;"
          src="/assets/imgs/colmex3.png" alt=""><img class="ls-l" style="top:200px;left:463px;white-space: nowrap;"
          data-ls="offsetxin:0;offsetyin:-500;durationin:1500;delayin:1250;easingin:easeInOutElastic;offsetxout:0;offsetyout:500;durationout:1000;showuntil:5000;easingout:easeInOutElastic;"
          src="/assets/imgs/colmex2.png" alt="">
        <h5 class="ls-l"
          style="top:176px;left:24px;font-weight: normal;text-shadow: none;padding-right:10px;padding-left:10px;font-family:Lifestyle Rounded M54;font-size:35px;color:#ffffff;background:#B00D0F;border-radius:1px;">
          Imagina</h5>
        <p class="ls-l" style="top:365px;left:29px;font-family:Roboto Slab;font-size:13px;white-space: nowrap;">
          <a class="cbp_widget_link" href="http://showcase.aislinthemes.com/carry-hill/about/"
            style="padding:14px 24px; background-color: #B00D0F;"><b>Conoce más</b></a></p>
        <h2 class="ls-l"
          style="top:236px;left:28px;font-weight: normal;text-shadow: none;font-family:Arvo;font-size:24px;color:#6e6e6e;white-space: nowrap;">
          Conoce la secundaria</h2>
        <p class="ls-l"
          style="top:276px;left:19px;width:200px;height:80px;font-family:Arvo;font-size:14px;white-space: nowrap;">
          Sé parte del
          Colegio Unión Pacífico </p>
        <p class="ls-l" style="top:298px;left:19px;font-family:Arvo;white-space: nowrap;">
          un lugar donde la
          curiosidad natural y
          la imaginación
        </p>
        <p class="ls-l" style="top:320px;left:19px;font-family:Arvo;white-space: nowrap;">dirigen la
          exploración y el descubrimiento.</p>
      </div>
      <div class="ls-slide" data-ls=" transition2d: all;"><img class="ls-l"
          style="top:401px;left:-376px;white-space: nowrap;" src="/assets/imgs/lib/rainbow.png" alt=""><img class="ls-l"
          style="top:25px;left:453px;white-space: nowrap;" src="/assets/imgs/iphone.png" alt="">
        <h1 class="ls-l ch-slider-title-big" style="top:113px;left:24px;white-space: nowrap;"
          data-ls="offsetxin:right;fadein:false;offsetxout:right;durationout:1000;fadeout:false;">Full</h1>
        <h1 class="ls-l ch-slider-title-big" style="top:191px;left:23px;white-space: nowrap;"
          data-ls="offsetxin:right;delayin:500;fadein:false;offsetxout:right;durationout:1000;fadeout:false;">
          Practicas</h1>
        <h3 class="ls-l ch-slider-border-title" style="color: white; top:304px;left:17px;white-space: nowrap;"
          data-ls="offsetxin:0;offsetyin:bottom;delayin:1000;fadein:false;offsetxout:0;offsetyout:bottom;durationout:1000;fadeout:false;">
          Deporte.Danza.Futball.Valores.</h3><img class="ls-l" style="top:5px;left:906px;white-space: nowrap;"
          src="/assets/imgs/libro-transparencia-e1468257868681.png" alt="">
      </div>
    </div>
  </div>
</div>