 <!-- TESTIMOIOS -->
 
<section class="testimonios">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="padding-right: 0px;">
        <div class="card card-testimonial card-testimonial--second">
          <div class="card-body " style="padding: 59px; border: solid #B00D0F 2px;">
            <div class="row justify-content-end justify-content-sm-centers ">
              <blockquote class="row" style="color:white">
                <div class="d-flex justify-content-end col-lg-1">
                  <i class="fa fa-quote-left comilla"></i>
                </div>
                <p class="card-text col-lg-10" style=" margin: 0px; padding: 39px 0px;" align="justify">
                  Dudaba en cambiar a mis hijos a la primaria, en 4° y 6°, pero lo decidí y no me
                  arrepiento.
                  El nivel de aprovechamiento cambio en mis dos hijos, la comunicación es excelente
                  con los
                  padres de familia. La mejor opción
                </p>
                <span class="d-flex align-items-end col-lg-1">
                  <i class="fa fa-quote-right comilla"></i>
                </span>
              </blockquote>
              <span style="color: white; font-style: italic; font-weight: bold;">"Juan Rojas"</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="padding-right: 0px;">
        <div class="card card-testimonial card-testimonial--second">
          <div class="card-body " style="padding: 59px;">
            <div class="row justify-content-end justify-content-sm-centers ">
              <blockquote class="row" style="color:white">
                <div class="d-flex justify-content-end col-lg-1">
                  <i class="fa fa-quote-left comilla"></i>
                </div>
                <p class="card-text col-lg-10" style=" margin: 0px; padding: 39px 0px;" align="justify">
                  Dudaba en cambiar a mis hijos a la primaria, en 4° y 6°, pero lo decidí y no me
                  arrepiento.
                  El nivel de aprovechamiento cambio en mis dos hijos, la comunicación es excelente
                  con los
                  padres de familia. La mejor opción
                </p>
                <span class="d-flex align-items-end col-lg-1">
                  <i class="fa fa-quote-right comilla"></i>
                </span>
              </blockquote>
              <span style="color: white; font-style: italic; font-weight: bold;">"Juan Rojas"</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>