<!-- REGISTRAR ALUMNOS -->
<div class=" d-flex justify-content-between mx-1">
  <div class="col-md-3 p-0">
    <p class="separadores"><span class="Defaults-user"></span> PADRE DE FAMILIA</p>
  </div>
  <div class="col-md-9 p-0 align-self-end">
    <hr class="linea_separador">
  </div>
</div>

<div class="form-group row">
  <div class="col-lg mb-3 mb-sm-0 mx-3" style="background-color: white;">
    <!-- FORMULARIO DE LOS ALUMNOS -->
    <form class="m-4" [formGroup]="formPadre" (ngSubmit)="guardarPadre();">
      <a class="btn btn-success mb-4" routerLink="padre/list"> <span class="Defaults-list-alt"></span> Lista de Padres</a>

      <div class="form-group row">
        <label for="documento" class="col-sm-2">*DNI:</label>
        <div class="col-sm-4">
          <input required type="text" id="documento" class="form-control" formControlName="dniDocumento"
            [class.is-valid]="dniDocumentoValid" [class.is-invalid]="dniDocumentoInvalid" minlength="8" maxlength="8" pattern="[1-9]*">
          <p class="Defaults-times-circle text-danger mt-2"
            *ngIf="formPadre.get('dniDocumento').hasError('required') && formPadre.get('dniDocumento').touched">
            <span>
              DNI es requerido.
            </span>
          </p>
          <p class="Defaults-times-circle text-danger mt-2" *ngIf="dniDocumentoInvalid">
            <span>
              DNI debe contener 8 carácteres.
            </span>
          </p>
          <p class="Defaults-times-circle text-danger mt-2" *ngIf="formPadre.get('dniDocumento').hasError('pattern')">
            <span>
              DNI debe contener solo números.
            </span>
          </p>
        </div>
      </div>
      <!-- NOMBRES -->
      <div class="form-group row">
        <div class="col-sm-2">
          <label for="nombre" class="col-form-label">*Nombres:</label>
        </div>
        <div class="col-sm-4">
          <input type="text" class="form-control" id="nombre" formControlName="nombres"
            [class.is-valid]="nombresValid" [class.is-invalid]="nombresInvalid">
          <samp class="Defaults-times-circle text-danger mt-2" *ngIf="nombresInvalid"> Nombre es requerido</samp>
        </div>
      </div>
      <!-- APELLIDOS -->
      <div class="from-group row">
        <div class="col-sm-2">
          <label for="apellidos" class="col-form-label">*Apellido Paterno:</label>
        </div>
        <div class="col-sm-4">
          <input type="text" class="form-control" id="apellidos" formControlName="apellido_pat" [class.is-valid]="apellidoPatValid"
            [class.is-invalid]="apellidoPatInvalid">
          <samp class="Defaults-times-circle text-danger mt-2" *ngIf="apellidoPatInvalid"> Apellido paterno es requerido</samp>
        </div>

        <div class="col-sm-2">
          <label for="apellidos" class="col-form-label">*Apellido Materno:</label>
        </div>
        <div class="col-sm-4">
          <input type="text" class="form-control" id="apellidos" formControlName="apellido_mat" [class.is-valid]="apellidoMatValid"
            [class.is-invalid]="apellidoMatInvalid">
          <samp class="Defaults-times-circle text-danger mt-2" *ngIf="apellidoMatInvalid"> Apellido materno es requerido</samp>
        </div>
      </div>

     
      <div class="form-group row mt-3">
    
        <label for="celular" class="col-sm-2">Celular:</label>
        <div class="col-sm-4">
          <input required type="email" id="celular" class="form-control" formControlName="celular"
            [class.is-valid]="celularValid"  pattern="[1-9]*">
            <p class="Defaults-times-circle text-danger mt-2" *ngIf="formPadre.get('celular').hasError('pattern')">
              <span>
                Celular requiere números.
              </span>
            </p>

        </div>

      </div>

      <div class="form-group row mt-3">

        <label for="fecha-nac" class="col-sm-2">*Fecha / nac:</label>
        <div class="col-sm-4">
          <input required type="date" id="fecha-nac" class="form-control" formControlName="fechaNac"
            [class.is-valid]="fechaNacValid" [class.is-invalid]="fechaNacInvalid">
          <samp class="Defaults-times-circle text-danger mt-2" *ngIf="fechaNacInvalid"> Fecha de nacimiento es requerido</samp>
        </div>

        <label for="fecha-nac" class="col-sm-2">*Sexo</label>
        <div class="col-sm-4">
          <select id="inputState" class="form-control" formControlName="sexo" 
          [class.is-valid]="sexoValid" [class.is-invalid]="sexoInvalid">
            <option selected value="masculino">Masculino</option>
            <option value="femenino">Femenino</option>
          </select>
          <span class="Defaults-times-circle text-danger mt-2" *ngIf="sexoInvalid"> Especifique el sexo</span>
        </div>
        
        
      </div>
      <!-- PASSWORD -->

      <div class="form-group row">
        <label for="passowrd" class="col-sm-2">*Password:</label>
        <div class="col-sm-4">
          <input required type="password" id="passowrd" class="form-control" formControlName="password1"
            [class.is-valid]="password1Valid" [class.is-invalid]="password1Invalid" minlength="3">
          <p class="Defaults-times-circle text-danger mt-2" *ngIf="password1Invalid">
            <span>
              Password es requerido
            </span>
          </p>
          <p class="Defaults-times-circle text-danger mt-2" *ngIf="formPadre.get('password1').hasError('minlength')">
            <span>
              Password requiere min 3 carácteres.
            </span>
          </p>
        </div>
        <label for="passowrd2" class="col-sm-2">*Repetir Password:</label>
        <div class="col-sm-4">
          <input required type="password" id="passowrd2" class="form-control" formControlName="password2"
            [class.is-valid]="password2Valid && passwordIgual"
            [class.is-invalid]="password2NoValido && password2Invalid">
          <p class="Defaults-times-circle text-danger mt-2" *ngIf="password2NoValido">
            <span>
              Las contraseñas son diferentes.
            </span>
          </p>
        </div>


      </div>

      <!-- BOTONES -->
      <div class="form-group row mt-3">
        <div class="col-sm-3 text-center">
          <button type="submit"  [disabled]="!formPadre.valid" class="btn btn-outline-primary btn-block">Registrar Docente</button>
        </div>
        <div class="col-sm-3 text-center">
          <button type="reset" class="btn btn-info btn-block">Limpiar Campos</button>
        </div>
      </div>
    </form>

  </div>
</div>