<!--PLANA DOCENTE -->
<section>
    <div class=" d-flex justify-content-between">
        <div class="col-md-4 p-0">
            <p class="separadores">PLANA DOCENTE</p>
        </div>
        <div class="col-md-8 p-0 align-self-end">
            <hr class="linea_separador">
        </div>
    </div>
    <!-- INICIAL -->
    <div class="row">
        <div class="col d-flex justify-content-center text-center mt-">
            <h3
                style="background-color: #B00D0F; width: 18%; color: white;padding: 5px 0px; border-radius: 10px;">
                INICIAL
            </h3>
        </div>
    </div>

    <div class="row text-center mt-3">
        <div class="col-lg-3">
            <div>
                <figure>
                    <img class="img_docente" src="assets/imgs/profesor1.jpg" alt="">
                </figure>
            </div>
            <div>
                <h5>Prof. Tucto Romero Javier</h5>
                <blockquote class="card-text " style=" margin: 0px; padding: 0px 0px;" align="justify">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic
                </blockquote>
                <hr style="width: 100%; border: solid #B00D0F 1px; ">
            </div>
        </div>
        <div class="col-lg-3">
            <div>
                <figure>
                    <img class="img_docente" src="assets/imgs/profesora.png" alt="">
                </figure>
            </div>
            <div>
                <h5>Prof. Tucto Romero Javier</h5>
                <blockquote class="card-text " style=" margin: 0px; padding: 0px 0px;" align="justify">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic
                </blockquote>
                <hr style="width: 100%; border: solid #B00D0F 1px; ">
            </div>
        </div>
        <div class="col-lg-3">
            <div>
                <figure>
                    <img class="img_docente" src="assets/imgs/profesor.jpg" alt="">
                </figure>
            </div>
            <div>
                <h5>Prof. Tucto Romero Javier</h5>
                <blockquote class="card-text " style=" margin: 0px; padding: 0px 0px;" align="justify">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic
                </blockquote>
                <hr style="width: 100%; border: solid #B00D0F 1px; ">
            </div>
        </div>
        <div class="col-lg-3">
            <div>
                <figure>
                    <img class="img_docente" src="assets/imgs/profesora1.jpg" alt="">
                </figure>
            </div>
            <div>
                <h5>Prof. Tucto Romero Javier</h5>
                <blockquote class="card-text " style=" margin: 0px; padding: 0px 0px;" align="justify">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic
                </blockquote>
                <hr style="width: 100%; border: solid #B00D0F 1px; ">
            </div>
        </div>
    </div>
    <!-- PRIMARIA -->
    <div class="row">
        <div class="col d-flex justify-content-center text-center">
            <h3
                style="background-color: #B00D0F; width: 18%; color: white;padding: 5px 0px; border-radius: 10px;">
                PRIMARIA
            </h3>
        </div>
    </div>

    <div class="row text-center mt-3">
        <div class="col-lg-3">
            <div>
                <figure>
                    <img class="img_docente" src="assets/imgs/profesor.jpg" alt="">
                </figure>
            </div>
            <div>
                <h5>Prof. Tucto Romero Javier</h5>
                <blockquote class="card-text " style=" margin: 0px; padding: 0px 0px;" align="justify">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic
                </blockquote>
                <hr style="width: 100%; border: solid #B00D0F 1px; ">
            </div>
        </div>
        <div class="col-lg-3">
            <div>
                <figure>
                    <img class="img_docente" src="assets/imgs/profesora.png" alt="">
                </figure>
            </div>
            <div>
                <h5>Prof. Tucto Romero Javier</h5>
                <blockquote class="card-text " style=" margin: 0px; padding: 0px 0px;" align="justify">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic
                </blockquote>
                <hr style="width: 100%; border: solid #B00D0F 1px; ">
            </div>
        </div>
        <div class="col-lg-3">
            <div>
                <figure>
                    <img class="img_docente" src="assets/imgs/profesora1.jpg" alt="">
                </figure>
            </div>
            <div>
                <h5>Prof. Tucto Romero Javier</h5>
                <blockquote class="card-text " style=" margin: 0px; padding: 0px 0px;" align="justify">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic
                </blockquote>
                <hr style="width: 100%; border: solid #B00D0F 1px; ">
            </div>
        </div>
        <div class="col-lg-3">
            <div>
                <figure>
                    <img class="img_docente" src="assets/imgs/profesor1.jpg" alt="">
                </figure>
            </div>
            <div>
                <h5>Prof. Tucto Romero Javier</h5>
                <blockquote class="card-text " style=" margin: 0px; padding: 0px 0px;" align="justify">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic
                </blockquote>
                <hr style="width: 100%; border: solid #B00D0F 1px; ">
            </div>
        </div>
    </div>
    <!-- SECUNDARIA -->
    <div class="row">
        <div class="col d-flex justify-content-center text-center">
            <h3
                style="background-color: #B00D0F; width: 18%; color: white;padding: 5px 0px; border-radius: 10px;">
                SECUNDARIA
            </h3>
        </div>
    </div>

    <div class="row text-center mt-3">
        <div class="col-lg-3">
            <div>
                <figure>
                    <img class="img_docente" src="assets/imgs/profesora1.jpg" alt="">
                </figure>
            </div>
            <div>
                <h5>Prof. Tucto Romero Javier</h5>
                <blockquote class="card-text " style=" margin: 0px; padding: 0px 0px;" align="justify">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic
                </blockquote>
                <hr style="width: 100%; border: solid #B00D0F 1px; ">
            </div>
        </div>
        <div class="col-lg-3">
            <div>
                <figure>
                    <img class="img_docente" src="assets/imgs/profesor.jpg" alt="">
                </figure>
            </div>
            <div>
                <h5>Prof. Tucto Romero Javier</h5>
                <blockquote class="card-text " style=" margin: 0px; padding: 0px 0px;" align="justify">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic
                </blockquote>
                <hr style="width: 100%; border: solid #B00D0F 1px; ">
            </div>
        </div>
        <div class="col-lg-3">
            <div>
                <figure>
                    <img class="img_docente" src="assets/imgs/profesor1.jpg" alt="">
                </figure>
            </div>
            <div>
                <h5>Prof. Tucto Romero Javier</h5>
                <blockquote class="card-text " style=" margin: 0px; padding: 0px 0px;" align="justify">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic
                </blockquote>
                <hr style="width: 100%; border: solid #B00D0F 1px; ">
            </div>
        </div>
        <div class="col-lg-3">
            <div>
                <figure>
                    <img class="img_docente" src="assets/imgs/profesora.png" alt="">
                </figure>
            </div>
            <div>
                <h5>Prof. Tucto Romero Javier</h5>
                <blockquote class="card-text " style=" margin: 0px; padding: 0px 0px;" align="justify">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic
                </blockquote>
                <hr style="width: 100%; border: solid #B00D0F 1px; ">
            </div>
        </div>
    </div>

</section>