<section class="container mt-5">

  <form autocomplete="off" (ngSubmit)="onSubmit()" [formGroup]="loginForm">
    <div>
      <div class="text-center text-uppercase">
        <p>
          <i class="zmdi zmdi-account-circle  icono" style="font-size: 70px;"></i><br>
          Inicia sesión
        </p>
      </div>
      <div class="form-group label-floating">
        <label class="control-label" for="UserEmail">DNI</label>
        <input class="form-control" style="background-color: transparent;" id="UserEmail" type="text">
      </div>
      <div class="form-group label-floating">
        <label class="control-label" for="UserPass">Contraseña</label>
        <input class="form-control" style="background-color: transparent;" id="UserPass" type="password">
      </div>
      <div class="form-group text-center">
        <button type="submit" class=" boton">Iniciar sesión</button>
      </div>
    </div>
  </form>
</section>
