<div style="background-color: #B00D0F;" class="fixed-top cbp-row cbp_widget_row ch-header ch-sticky-header-enabled">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-customize py-0 ">

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>


      <div class="collapse navbar-collapse my-2 my-lg-0" id="navbarSupportedContent">
        <a class="navbar-brand mr-auto mt-0" href="./index.html">
          <img class="logo_menu" src="/assets/imgs/logocolegio.png" alt="">
        </a>
        <div>
          <div class="nav-RS" style="margin-top: 15px;">
            <ul class="d-flex justify-content-end" style="margin: 0px 10px; height: 39px;">
              <li>
                <a href="">
                  <i class="fa fa-facebook rs-face"></i>
                </a>
              </li>
              <li>
                <a href="">
                  <i class="fa fa-whatsapp rs-what"></i>
                </a>
              </li>
            </ul>
          </div>

          <div style="margin-bottom: 13px; margin-top: 5px;" >
            <ul class="navbar-nav mr-auto" >

              <li class="nav-item active" (click) = "navActivo()">
                <a class="navb-link"  routerLink="" > <i class="fa fa-home"></i>Inicio</a>
              </li>
              <li class="">
                <a class="navb-link " routerLink="/nosotros"><i class="fa fa-user"></i>Nosotros</a>
              </li>
              <li class="">
                <a class="navb-link " routerLink="/contacto"><i class="fa fa-envelope"></i>Contáctanos</a>
              </li>
              <li class="">
                <a class="navb-link " routerLink="/login"><i class="fa fa-key"></i>Intranet </a>
              </li>
              
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </div>
</div>