.fieldset{
    border: solid 3px #B00D0F;
    .legend{
        width: auto;
        height: auto;
        text-align: center; 
        padding: 0px 20px;
        i{
            font-size: 55px; 
            background-color: #B00D0F;
            border-radius: 50%; 
            padding: 15px 17px; 
            color: white;
        } 
    }
    div{
        text-align: center;
    }
}
// red social CONTACTO
.redes_sociales{
    div{
        a{
            //text-decoration: none;
            i{
                margin: 25px 0px 8px 0px;
                font-size: 59px; 
            }
        }
    }
}
