.navbar {
    &-customize {

        .navb-link {
            float: left;
            text-align: center;
            padding: 12px;
            color: white;
            text-decoration: none;
            font-size: 17px;
            font-weight: bold;
        }
        li .navb-link:hover{
            background-color: rgb(211, 0, 0);
        }
          .active {
            background-color: rgb(211, 0, 0);
          }
          
    }
    .logo_menu{
        width: 50%;
    }
} 
.nav-RS{
    ul{
        margin: 10px ;
        li{
            .rs-face{
                color: white;
                background-color: #3b5998;
                padding: 5px 12px;
                border-radius: 50%;
            }
            .rs-face:hover{
                background-color: white;
                color: #3b5998;
            }
            .rs-what{
                color: white;
                background-color: #00bb2d;
                padding: 5px 7px;
                border-radius: 50%;
               
            }
            .rs-what:hover{
                background-color: white;
                color: #00bb2d;
            }
        }
    }
}
.navul{
    li{
        a{
            width: 120px;
            padding: 15px 12px;
        }
    }
}

