.cards{
    border: solid $red 2px !important;
    .card-body{
        div{
            .figure{
                text-align: center;
                img{
                    width: 50%;
                    border-radius: 50%;
                    border:  solid $red 2px ;
                    
                }
            }
        }
    }
}
