<app-banner></app-banner>

<div class="cbp-row cbp_widget_row ch-content ch-content-top ch-content-bottom">
  <div class="container mb-5">

    <app-estrellas></app-estrellas>
    <app-formando></app-formando>
    <app-conocenos></app-conocenos>
    <app-informacionacademica></app-informacionacademica>
    <app-porqueestudiar></app-porqueestudiar>
    

    <div class="d-flex justify-content-between">
      <div class="col-4 p-0">
        <p class="separadores">TESTIMONIOS</p>
      </div>
      <div class="col-8 p-0 align-self-end">
        <hr class="linea_separador">
      </div>
    </div>

    <!-- CIERRA EL CONTAINER -->
  </div>
</div>
<app-testimonios></app-testimonios>