<app-banner></app-banner>

<div class="cbp-row cbp_widget_row ch-content ch-content-top ch-content-bottom">
  <div class="container">
    
    <!--   ESTRELLAS -->
    <section class="circles-container">
      <div class="col-sm-12">
        <div class="row">
          <figure class="col-sm-4 circle-star">
            <div class="circle-star-icon">
              <i class="Defaults-star"></i>
            </div>
            <div class="circle-star-texts">
              <h2>Inicial</h2>
              <span>EL mejor inicio</span>
            </div>
          </figure>
          <figure class="col-sm-4 circle-star">
            <div class="circle-star-icon">
              <i class="Defaults-star"></i>
            </div>
            <div class="circle-star-texts">
              <h2>Primaria</h2>
              <span>EL mejor inicio</span>
            </div>
          </figure>
          <figure class="col-sm-4 circle-star">
            <div class="circle-star-icon">
              <i class="Defaults-star"></i>
            </div>
            <div class="circle-star-texts">
              <h2>Secuandaria</h2>
              <span>EL mejor inicio</span>
            </div>
          </figure>
        </div>
      </div>

    </section>
    <!-- FORMANDO EL FUTURO -->
    <section class="row eventos">
      <div class="col-sm-8">
        <div class=" d-flex justify-content-between mb-4">
          <div class="col-md-4 p-0">
            <p class="separadores">FORMANDO EL FUTURO</p>
          </div>
          <div class="col-md-8 p-0 align-self-end">
            <hr class="linea_separador">
          </div>
        </div>
        <!-- ************* ESTA ES LA PARTE SEGUIDA DE LAS TRESA ESTRELLAS INICIAL PRIMARIA Y SECUNDARIA ****** -->
        <p style="color: #B00D0F;" class="vc_custom_heading ch-border-title vc_custom_1468936509130">
          Realmente
          nos
          preocupamos por la educación de nuestros alumnos</p>
        <div class="wpb_text_column wpb_content_element  vc_custom_1468936530457">
          <p style="color: black;">El Colegio Unión Pacífico te da la bienvenida, a un lugar donde
            la curiosidad natural
            y la imaginación dirigen la exploración y el descubrimiento. Vamos ayudar a
            sus hijos a encontrarse y dirigirse en sus estudios, desde los más pequeños
            hasta nuestro jóvenes de secundaria. Y vamos acompañarte a ti, mamá y papá,
            en este arduo pero reconfortante camino que es la educación de sus hijos.
             Bienvenidos.</p>
        </div>
      </div>
      <!-- 	CALENDARIO -->
      <div class="col-sm-4">
        <div class="d-flex justify-content-between mb-4">
          <div class="col-md-10 p-0">
            <p class="separadores">CALENDARIO DE EVENTOS</p>
          </div>
          <div class="col-md-2 p-0 align-self-end">
            <hr class="linea_separador">
          </div>
        </div>
        <div class='eme-calendar' id='eme-calendar-190'>
          <table class='eme-calendar-table smallcalendar'>
            <thead>
              <tr>
                <td class='month_name' colspan='7'><a class='prev-month' href="#">&lt;&lt;</a> Feb
                  2020 <a class='next-month' href="#">&gt;&gt;</a></td>
              </tr>
            </thead>
            <tr class='days-names'>
              <td class='Mon_header'>L</td>
              <td class='Tue_header'>M</td>
              <td class='Wed_header'>X</td>
              <td class='Thu_header'>J</td>
              <td class='Fri_header'>V</td>
              <td class='Sat_header'>S</td>
              <td class='Sun_header'>D</td>
            </tr>
            <tr>
              <td class="Mon eventless-pre">27</td>
              <td class="Tue eventless-pre">28</td>
              <td class="Wed eventless-pre">29</td>
              <td class="Thu eventless-pre">30</td>
              <td class="Fri eventless-pre">31</td>
              <td class="Sat eventless">1</td>
              <td class="Sun eventless">2</td>
            </tr>
            <tr>
              <td class="Mon eventless">3</td>
              <td class="Tue eventless">4</td>
              <td class="Wed eventless">5</td>
              <td class="Thu eventless">6</td>
              <td class="Fri eventless">7</td>
              <td class="Sat eventless">8</td>
              <td class="Sun eventless">9</td>
            </tr>
            <tr>
              <td class="Mon eventless">10</td>
              <td class="Tue eventless-today">11</td>
              <td class="Wed eventless">12</td>
              <td class="Thu eventless">13</td>
              <td class="Fri eventless">14</td>
              <td class="Sat eventless">15</td>
              <td class="Sun eventless">16</td>
            </tr>
            <tr>
              <td class="Mon eventless">17</td>
              <td class="Tue eventless">18</td>
              <td class="Wed eventless">19</td>
              <td class="Thu eventless">20</td>
              <td class="Fri eventless">21</td>
              <td class="Sat eventless">22</td>
              <td class="Sun eventless">23</td>
            </tr>
            <tr>
              <td class="Mon eventless">24</td>
              <td class="Tue eventless">25</td>
              <td class="Wed eventless">26</td>
              <td class="Thu eventless">27</td>
              <td class="Fri eventless">28</td>
              <td class="Sat eventless">29</td>
              <td class="Sun eventless-post">1</td>
            </tr>
          </table>

          <script type='text/javascript'>
            jQuery('#eme-calendar-190 a.prev-month').click(function (e) {
              e.preventDefault();
              emeCalDiv = jQuery('#eme-calendar-190');
              jQuery('#eme-calendar-190 a.prev-month').html('<img src="wp-content/plugins/events-made-easy/images/spinner.gif">');
              loadCalendar(emeCalDiv, '0', '1', '0', '0', '01', '2020', '0', '', '', '', '0', '0', '0', '', '');
            });
            jQuery('#eme-calendar-190 a.next-month').click(function (e) {
              e.preventDefault();
              emeCalDiv = jQuery('#eme-calendar-190');
              jQuery('#eme-calendar-190 a.next-month').html('<img src="wp-content/plugins/events-made-easy/images/spinner.gif">');
              loadCalendar(emeCalDiv, '0', '1', '0', '0', '03', '2020', '0', '', '', '', '0', '0', '0', '', '');
            });
          </script>
        </div>
      </div>
    </section>
    <!--  CONOCENOS -->
    <section class="meet-us">
      <div class="d-flex justify-content-between mb-3 ">
        <div class="col-4 p-0">
          <p class="separadores">CONOCENOS</p>
        </div>
        <div class="col-8 p-0 align-self-end">
          <hr class="linea_separador">
        </div>
      </div>

      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            qwe
            <!-- <img src="la.jpg" alt="Los Angeles" width="1100" height="500"> -->
          </div>
          <div class="carousel-item">
            qwe2
          </div>
          <div class="carousel-item">
            qweqwe2
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </section>
    <!--   INFORMACION ACADEMICA -->
    <section class="academic-info">

      <div class="d-flex justify-content-between mb-4">
        <div class="col-4 p-0">
          <p class="separadores">INFORMACION ACADÉMICA</p>
        </div>
        <div class="col-8 p-0 align-self-end">
          <hr class="linea_separador">
        </div>
      </div>

      <div class="row" style="font-family: 'Gentium Basic', serif;">
        <!-- AVISOS -->
        <div class=" col-md-6">
          <h2 class="mb-3" style="font-weight:normal;margin-bottom:5px; color: #B00817;">
            <span class="fa fa-asterisk"> </span><u> Avisos</u>
          </h2>
          <p align="justify">
            <span class="fa fa-check"> </span>
            <b> Nro1:</b><br>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            Accusamus at obcaecati accusantium quos dolor voluptatem atque
            voluptatum quidem, sunt tenetur incidunt, ipsam, dignissimos
            laboriosam? Ex alias maxime atque dolorem vero?
          </p>
          <p align="justify">
            <span class="fa fa-check"> </span>
            <b> Nro2:</b><br>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            Accusamus at obcaecati accusantium quos dolor voluptatem atque
            voluptatum quidem, sunt tenetur incidunt, ipsam, dignissimos
            laboriosam? Ex alias maxime atque dolorem vero?
          </p>
          <a class="btn btn-danget"
            style="background-color: #B00817; margin:1cbp_widget_link cbp_widget_button p-25px; font-size: 15px; color: #ffffff"
            href="#">Más Información</a>
        </div>

        <!-- HORARIO ESCOLAR -->
        <div class=" col-md-6">

          <div class="mb-3">
            <h2 style=" color: #B00817;">
              <span class="fa fa-asterisk"></span><u>Horario Escolar</u>
            </h2>
          </div>

          <div class="row">
            <div class="col-2 mt-3 text-center pr-0">
              <span style="color: #B00817; font-size: 70px;  " class="fa fa-clock-o"></span>
            </div>
            <div class="col-10 pl-2">
              <h5 style="font-size: 25px;margin: 0px;"><b>Inicial</b></h5>
              <P style="font-size: 30px;margin: 0px;"><b>8:00 am - 1:00 pm</b></P>
              <p>* Los alumnos toman el lunch de 10.00 to 10.30</p>
            </div>
            <hr style="width:100%; height: 2px; margin: 0px 15px 15px 15px;">
          </div>

          <div class="row">
            <div class="col-2 mt-3 text-center pr-0">
              <span style="color: #B00817; font-size: 70px;  " class="fa fa-clock-o"></span>
            </div>
            <div class="col-10 pl-2">
              <h5 style="font-size: 25px;margin: 0px;"><b>Primaria</b></h5>
              <P style="font-size: 30px;margin: 0px;"><b>7:45 am - 1:30 pm</b></P>
              <p>* Pedimos a los papás y mamás dejar en la entrada a sus hijos para ingresar a su salón. </p>
            </div>
            <hr style="width:100%; height: 2px; margin: 0px 15px 15px 15px;">
          </div>

          <div class="row">
            <div class="col-2 mt-3 text-center pr-0">
              <span style="color: #B00817; font-size: 70px;  " class="fa fa-clock-o"></span>
            </div>
            <div class="col-10 pl-2">
              <h5 style="font-size: 25px;margin: 0px;"><b>Secundaria</b></h5>
              <P style="font-size: 30px;margin: 0px;"><b>7:00 am - 2:30 pm</b></P>
              <p>* Cuentan con 2 descansos de 9.00 – 9.20 am y de 12.20 to 12.40 pm</p>
            </div>
            <hr style="width:100%; height: 2px; margin: 0px 15px 15px 15px;">
          </div>
        </div>
      </div>
    </section>
    <!--  ¿POR QUÉ ESTUDIAR CON NOSOTROS? -->
    <section class="">

      <div class="d-flex justify-content-between mb-3 ">
        <div class="col-5 p-0">
          <p class="separadores">¿POR QUÉ ESTUDIAR CON NOSOTROS?</p>
        </div>
        <div class="col-7 p-0 align-self-end">
          <hr class="linea_separador">
        </div>
      </div>


      <div style="text-align:center">
        <p>
          Somos la mejor opción para tus hijos, somos un colegio con experiencia y dedicación en nuestra labor
          diaria, nuestro único objetivo es
          contribuir a que los niños y jóvenes alcancen sus sueños y metas, a que diseñen y proyecten su futuro,
          conscientes de que una buena educación es la mejor herramienta que pueden tener ante los retos que hoy
          en día tiene la sociedad. Es por esto y más que nos da mucho gusto que leas nuestras páginas, nuestras
          publicaciones, nuestra historia, que conozcas nuestras instalaciones, nuestros alumnos, nuestros
          valores, nuestra comunidad… ya que lo aquí mostramos es un reflejo de nuestra realidad.
        </p>

        <p><strong>El Colegio Unión Pacífico</strong> les dará más cordial bienvenida.</p>
      </div>
    </section>
    <!-- TESTIMOIOS -->
    <div class="d-flex justify-content-between">
      <div class="col-4 p-0">
        <p class="separadores">TESTIMONIOS</p>
      </div>
      <div class="col-8 p-0 align-self-end">
        <hr class="linea_separador">
      </div>
    </div>
    <!-- CIERRA EL CONTAINER -->
  </div>
</div>
<section class="testimonios">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="padding-right: 0px;">
        <div class="card card-testimonial card-testimonial--second">
          <div class="card-body " style="padding: 59px; border: solid #B00D0F 2px;">
            <div class="row justify-content-end justify-content-sm-centers ">
              <blockquote class="row" style="color:white">
                <div class="d-flex justify-content-end col-lg-1">
                  <i class="fa fa-quote-left comilla"></i>
                </div>
                <p class="card-text col-lg-10" style=" margin: 0px; padding: 39px 0px;" align="justify">
                  Dudaba en cambiar a mis hijos a la primaria, en 4° y 6°, pero lo decidí y no me
                  arrepiento.
                  El nivel de aprovechamiento cambio en mis dos hijos, la comunicación es excelente
                  con los
                  padres de familia. La mejor opción
                </p>
                <span class="d-flex align-items-end col-lg-1">
                  <i class="fa fa-quote-right comilla"></i>
                </span>
              </blockquote>
              <span style="color: white; font-style: italic; font-weight: bold;">"Juan Rojas"</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="padding-right: 0px;">
        <div class="card card-testimonial card-testimonial--second">
          <div class="card-body " style="padding: 59px;">
            <div class="row justify-content-end justify-content-sm-centers ">
              <blockquote class="row" style="color:white">
                <div class="d-flex justify-content-end col-lg-1">
                  <i class="fa fa-quote-left comilla"></i>
                </div>
                <p class="card-text col-lg-10" style=" margin: 0px; padding: 39px 0px;" align="justify">
                  Dudaba en cambiar a mis hijos a la primaria, en 4° y 6°, pero lo decidí y no me
                  arrepiento.
                  El nivel de aprovechamiento cambio en mis dos hijos, la comunicación es excelente
                  con los
                  padres de familia. La mejor opción
                </p>
                <span class="d-flex align-items-end col-lg-1">
                  <i class="fa fa-quote-right comilla"></i>
                </span>
              </blockquote>
              <span style="color: white; font-style: italic; font-weight: bold;">"Juan Rojas"</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>