<div class="container" style="margin-top: 116px;">

    <div class=" d-flex justify-content-between">
        <div class="col-md-4 p-0">
            <p class="separadores">CONTÁCTENOS</p>
        </div>
        <div class="col-md-8 p-0 align-self-end">
            <hr class="linea_separador">
        </div>
    </div>

    <!-- ESCRIBENOS LLAMANOS VISITANOS -->
    <div class="row">
        <div class="col-lg-4 my-4">
            <div>
                <fieldset class="p-3">
                    <legend class="legend">
                        <i class="icon-home"></i>
                    </legend>
                    <div class="">
                        <h3>Visítanos</h3>
                        <p>Av. Real #1242 chilca/Huancayo</p>
                    </div>
                </fieldset>
            </div>
        </div>
        
        <div class="col-lg-4 my-4">
            <div>
                <fieldset class="p-3">
                    <legend class="legend">
                        <i class="icon-phone"></i>
                    </legend>
                    <div class="">
                        <h3>Llámanos</h3>
                        <p>(064) 398655</p>
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="col-lg-4 my-4">
            <div>
                <fieldset class="p-3">
                    <legend class="legend">
                        <i class="icon-mail"></i>
                    </legend>
                    <div class="">
                        <h3>Escríbenos</h3>
                        <p>colegio@union.com</p>
                    </div>
                </fieldset>
            </div>
        </div>


    </div>
    <!-- NUESTRAS REDES SOCIALES -->
    <div class="row">
        <div class="col-lg">
            <div class="text-center redes_sociales">
                <h3 class="my-3 py-2" style="background-color: #B00D0F;color: white;">Nuestras Redes sociales</h3>
                <div class="row d-flex align-items-center">
                    <div class="col-lg">
                        <a href="">
                            <i class="icon-facebook-with-circle facebook"></i>
                        </a>
                        <p class="pt-3"><b>Facebook</b></p>
                    </div>
                    <div class="col-lg">
                        <a href="">
                            <i class="icon-facebook-with-circle facebook"></i>
                        </a>
                        <p class="pt-3"><b>Whassap</b></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- FORMULARIO DE CONTACTO Y UBICACION -->
    <div class="row">
        <div class="col-lg-6">
            <h3 class="separadores vision_mision my-3 text-center">FORMULARIO DE ECONTACTO</h3>
            <form action="" method="post">
                <div class="px-3">
                    <div class="form-group">
                        <input class="form-control" type="text" name="nombre" placeholder="Nombres y Apellidos">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="email" name="correo" placeholder="Correo Electrónico">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="asunto" placeholder="Asunto">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" type="text" name="Comentario"
                            placeholder="Comentario"></textarea>
                    </div>
                    <button class="btn btn-primary boton_form">
                        Enviar mensaje
                    </button>
                </div>
            </form>

            <hr style="width: 100%; border: solid #B00D0F 1px; margin-top: 30px;">
        </div>
        <div class="col-lg-6 mb-5">
            <h3 class="separadores vision_mision my-3 text-center">NOS UBIICAMOS EN:</h3>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1379.3427705848085!2d-75.19897867013206!3d-12.086768457084478!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x8b1b824eb8301632!2sUnion%20Pac%C3%ADfico!5e0!3m2!1ses!2spe!4v1583152976981!5m2!1ses!2spe"
                width="100%" height="100%" frameborder="0" style="border:solid #B00D0F 2px;" allowfullscreen="">
            </iframe>
        </div>
    </div>
</div>