<ul class="navbar-nav sidebar sidebar-dark accordion menu_lateral" id="accordionSidebar">
  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fas fa-laugh-wink"></i>
    </div>
    <div class="sidebar-brand-text mx-3">Unión Pacífico Intranet</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <!-- <li class="nav-item">
   <a class="nav-link" href="index.html">
     <i class="fas fa-fw fa-tachometer-alt"></i>
     <span>Periodos Académicos</span></a>
 </li> -->

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    Mantenimiento
  </div>

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePeriodo" aria-expanded="true"
      aria-controls="collapsePeriodo">
      <i class="Defaults-arrow-down"></i>
      <span>PERIODO</span>
    </a>

    <div id="collapsePeriodo" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">

        <h6 class="collapse-header">Periodo de estudio</h6>
        <!--NAV DE PERIODOS-->
        <ul class="navbar-nav mr-auto navul">
          <li class="nav-item" routerLinkActive="active">
            <a class="collapse-item" routerLink="periodos/crear">Nuevo Periodo</a>
          </li>
          <li class="nav-item " routerLinkActive="active">
            <a class="collapse-item" routerLink="periodos/list">Lista de Periodos</a>
          </li>
          <li class="nav-item " routerLinkActive="active">
            <a class="collapse-item" routerLink="periodos/editar">Editar Periodo</a>
          </li>
        </ul>

        <!-- <h6 class="collapse-header">Other Pages:</h6>
        <a class="collapse-item" href="404.html">404 Page</a>
        <a class="collapse-item" href="blank.html">Blank Page</a> -->
      </div>
    </div>
  </li>


  <!-- DOCENTES -->
  <li class="nav-item">
    <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseDocente" aria-expanded="true"
      aria-controls="collapseDocente">
      <i class="Defaults-arrow-down"></i>
      <span> DOCENTES</span>
    </a>
    <div id="collapseDocente" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Docente académico</h6>
        <!--NAV DE DOCENTES-->
        <ul class="navbar-nav mr-auto navul">
          <li class="nav-item" routerLinkActive="active">
            <a class="collapse-item" routerLink="docente/crear">Nuevo Docente</a>
          </li>
          <li class="nav-item " routerLinkActive="active">
            <a class="collapse-item" routerLink="docente/list">Lista de Docentes</a>
          </li>
          <li class="nav-item " routerLinkActive="active">
            <a class="collapse-item" routerLink="docente/editar">Editar Docente</a>
          </li>
        </ul>
      </div>
    </div>
  </li>


  <!-- ALUMNOS -->
  <li class="nav-item">
    <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseAlumno" aria-expanded="true"
      aria-controls="collapseAlumno">
      <i class="Defaults-arrow-down"></i>
      <span>ALUMNOS</span>
    </a>
    <div id="collapseAlumno" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Alumno académico</h6>
        <!--NAV DE ALUMNOS-->
        <ul class="navbar-nav mr-auto navul">
          <li class="nav-item" routerLinkActive="active">
            <a class="collapse-item" routerLink="alumno/crear">Registrar Alumno</a>
          </li>
          <li class="nav-item " routerLinkActive="active">
            <a class="collapse-item" routerLink="alumno/list">Lista de Alumnos</a>
          </li>
          <li class="nav-item " routerLinkActive="active">
            <a class="collapse-item" routerLink="alumno/editar">Editar Alumno</a>
          </li>
        </ul>
      </div>
    </div>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    Addons
  </div>

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true"
      aria-controls="collapsePages">
      <i class="fas fa-fw fa-folder"></i>
      <span>Pages</span>
    </a>
    <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Login Screens:</h6>
        <a class="collapse-item" href="login.html">Login</a>
        <a class="collapse-item" href="register.html">Register</a>
        <a class="collapse-item" href="forgot-password.html">Forgot Password</a>
        <div class="collapse-divider"></div>
        <h6 class="collapse-header">Other Pages:</h6>
        <a class="collapse-item" href="404.html">404 Page</a>
        <a class="collapse-item" href="blank.html">Blank Page</a>
      </div>
    </div>
  </li>

  <!-- Nav Item - Charts -->
  <li class="nav-item">
    <a class="nav-link" href="charts.html">
      <i class="fas fa-fw fa-chart-area"></i>
      <span>Charts</span></a>
  </li>

  <!-- Nav Item - Tables -->
  <li class="nav-item active">
    <a class="nav-link" href="tables.html">
      <i class="fas fa-fw fa-table"></i>
      <span>Tables</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>
</ul>