<ul class="navbar-nav sidebar sidebar-dark accordion menu_lateral" id="accordionSidebar">
  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fas fa-laugh-wink"></i>
    </div>
    <div class="sidebar-brand-text mx-3">Unión Pacífico Intranet</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <!-- <li class="nav-item">
   <a class="nav-link" href="index.html">
     <i class="fas fa-fw fa-tachometer-alt"></i>
     <span>Periodos Académicos</span></a>
 </li> -->

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    ADMINISTRACIÓN
  </div>

  <!-- PERIODO -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePeriodo" aria-expanded="true"
      aria-controls="collapsePeriodo">
      <i class="Defaults-arrow-down"></i>
      <span>PERIODO</span>
    </a>

    <div id="collapsePeriodo" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">

        <h5 class="collapse-header">Periodo de estudio</h5>

        <ul class="navbar-nav mr-auto navul">
          <li class="nav-item" routerLinkActive="active">
            <a class="collapse-item" routerLink="periodos/crear"><i class="Defaults-circle"
                style="color: black; font-size: 10px;"></i> Registrar</a>
          </li>
          <li class="nav-item" routerLinkActive="active">

            <a class="collapse-item" routerLink="periodos/list"><i class="Defaults-circle"
                style="color: black; font-size: 10px;"></i> Lista</a>
          </li>
          <li class="nav-item">
            <a style="width: 160px;" class="nav-link collapse-item collapsed" href="#" data-toggle="collapse"
              data-target="#collapseBimestre" aria-expanded="false" aria-controls="collapseBimestre">
              <i class="Defaults-arrow-down" style="color: black;"></i>
              <span>Bimestre</span>
            </a>
            <!-- <div id="collapseBimestre" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar"> -->
            <div id="collapseBimestre" class="collapse">
              <div class="bg-white py-2 collapse-inner rounded">
                <!--PERIODO - BIMESTRE-->
                <ul class="navbar-nav mr-auto navul">
                  <li class="nav-item" routerLinkActive="active">
                    <a style="color: black;" class="collapse-item" routerLink="periodos/crear"><i
                        class="Defaults-circle" style="color: black; font-size: 10px;"></i> Registrar</a>
                  </li>
                  <li class="nav-item" routerLinkActive="active">
                    <a style="color: black;" class="collapse-item" routerLink="periodos/crear"><i
                        class="Defaults-circle" style="color: black; font-size: 10px;"></i> Actualizar</a>
                  </li>
                </ul>
              </div>
            </div>
          </li>
        </ul>

      </div>
    </div>

  </li>

  <!--   periodos/bimestre/crear -->

  <!-- DOCENTES -->
  <li class="nav-item">
    <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseDocente" aria-expanded="true"
      aria-controls="collapseDocente">
      <i class="Defaults-arrow-down"></i>
      <span> DOCENTES</span>
    </a>
    <div id="collapseDocente" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Docente académico</h6>
        <!--NAV DE DOCENTES-->
        <ul class="navbar-nav mr-auto navul">
          <li class="nav-item" routerLinkActive="active">
            <a class="collapse-item" routerLink="docente/crear">Registrar</a>
          </li>
          <li class="nav-item " routerLinkActive="active">
            <a class="collapse-item" routerLink="docente/list">Lista</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="collapse-item" routerLink='docente/asignar'>Asignar Cursos</a>
          </li>
          <!--   <li class="nav-item " routerLinkActive="active">
            <a class="collapse-item" routerLink="docente/editar">Editar</a>
          </li> -->

        </ul>
      </div>
    </div>
  </li>

  <!-- CURSOS -->
  <li class="nav-item">
    <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseCurso" aria-expanded="true"
      aria-controls="collapseCurso">
      <i class="Defaults-arrow-down"></i>
      <span> CURSOS</span>
    </a>
    <div id="collapseCurso" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Docente académico</h6>
        <!--NAV DE DOCENTES-->
        <ul class="navbar-nav mr-auto navul">
          <li class="nav-item" routerLinkActive="active">
            <a class="collapse-item" routerLink="curso/crear">Registrar</a>
          </li>
          <li class="nav-item " routerLinkActive="active">
            <a class="collapse-item" routerLink="curso/list">Lista</a>
          </li>

        </ul>
      </div>
    </div>
  </li>

  <!-- ALUMNOS -->
  <li class="nav-item">
    <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseAlumno" aria-expanded="true"
      aria-controls="collapseAlumno">
      <i class="Defaults-arrow-down"></i>
      <span>ALUMNOS</span>
    </a>
    <div id="collapseAlumno" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h5 class="collapse-header" style="color: black">Alumno académico</h5>
        <!--NAV DE ALUMNOS-->
        <ul class="navbar-nav mr-auto navul">
          <li class="nav-item" routerLinkActive="active">
            <a class="collapse-item" routerLink="alumno/crear">Registrar</a>
          </li>
          <li class="nav-item " routerLinkActive="active">
            <a class="collapse-item" routerLink="alumno/list">Lista</a>
          </li>
          <li class="nav-item " routerLinkActive="active">
            <a class="collapse-item" routerLink="alumno/matricula">Matricular</a>
          </li>
          <!-- <li class="nav-item " routerLinkActive="active">
            <a class="collapse-item" routerLink="alumno/editar">Editar Alumno</a>
          </li> -->

        </ul>
      </div>
    </div>
  </li>

  <!-- PADRES -->
  <li class="nav-item">
    <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapsepadre" aria-expanded="true"
      aria-controls="collapsepadre">
      <i class="Defaults-arrow-down"></i>
      <span>PADRES</span>
    </a>
    <div id="collapsepadre" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">PADRES DE FAMILIA</h6>
        <!--NAV DE padreS-->
        <ul class="navbar-nav mr-auto navul">
          <li class="nav-item" routerLinkActive="active">
            <a class="collapse-item" routerLink="padre/crear">Registrar </a>
          </li>
          <li class="nav-item " routerLinkActive="active">
            <a class="collapse-item" routerLink='padre/relacionar'>Parentesco</a>
          </li>
          <li class="nav-item " routerLinkActive="active">
            <a class="collapse-item" routerLink="padre/list">Lista</a>
          </li>
          <!--      <li class="nav-item " routerLinkActive="active">
            <a class="collapse-item" routerLink="padre/editar">Editar</a>
          </li> -->
        </ul>
      </div>
    </div>
  </li>

  <!-- PAGOS -->

  <li class="nav-item">
    <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapsepagos" aria-expanded="true"
      aria-controls="collapsepagos">
      <i class="Defaults-arrow-down"></i>
      <span>PAGOS</span>
    </a>
    <div id="collapsepagos" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">MENSUALIDADES</h6>
        <!--NAV DE padreS-->
        <ul class="navbar-nav mr-auto navul">
          <li class="nav-item" routerLinkActive="active">
            <a class="collapse-item" routerLink="pago/registrar">Subir facturacion</a>
          </li>
        </ul>
      </div>
    </div>
  </li>




  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    ############
  </div>

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePagos" aria-expanded="tru e"
      aria-controls="collapsePagos">
      <i class="Defaults-arrow-down"></i>
      <span>############</span>
    </a>
    <div id="collapsePagos" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Login Screens:</h6>
        <a class="collapse-item" href="login.html">Login</a>
        <a class="collapse-item" href="register.html">Register</a>
        <a class="collapse-item" href="forgot-password.html">Forgot Password</a>
        <div class="collapse-divider"></div>
        <h6 class="collapse-header">Other Pages:</h6>
        <a class="collapse-item" href="404.html">404 Page</a>
        <a class="collapse-item" href="blank.html">Blank Page</a>
      </div>
    </div>
  </li>

  <!-- Nav Item - Charts -->
  <li class="nav-item">
    <a class="nav-link" href="charts.html">
      <i class="fas fa-fw fa-chart-area"></i>
      <span>Charts</span></a>
  </li>

  <!-- Nav Item - Tables -->
  <li class="nav-item active">
    <a class="nav-link" href="tables.html">
      <i class="fas fa-fw fa-table"></i>
      <span>Tables</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>
</ul>