<!--   ESTRELLAS -->
<section class="circles-container">
    <div class="col-sm-12">
      <div class="row">
        <figure class="col-sm-4 circle-star">
          <div class="circle-star-icon">
            <i class="Defaults-star"></i>
          </div>
          <div class="circle-star-texts">
            <h2>Inicial</h2>
            <span>EL mejor inicio</span>
          </div>
        </figure>
        <figure class="col-sm-4 circle-star">
          <div class="circle-star-icon">
            <i class="Defaults-star"></i>
          </div>
          <div class="circle-star-texts">
            <h2>Primaria</h2>
            <span>EL mejor inicio</span>
          </div>
        </figure>
        <figure class="col-sm-4 circle-star">
          <div class="circle-star-icon">
            <i class="Defaults-star"></i>
          </div>
          <div class="circle-star-texts">
            <h2>Secuandaria</h2>
            <span>EL mejor inicio</span>
          </div>
        </figure>
      </div>
    </div>

  </section>