<div class=" d-flex justify-content-between mx-1">
  <div class="col-md-3 p-0">
    <p class="separadores"><span class="Defaults-user"></span> REGISTRAR DOCENTES</p>
  </div>
  <div class="col-md-9 p-0 align-self-end">
    <hr class="linea_separador">
  </div>
</div>
<div class="form-group row">
  <div class="col-lg mb-3 mb-sm-0 mx-3" style="background-color: white;">
    <pre>
      <b>
       {{ formDocente.value | json}}
      </b>
     </pre>
    <p>
      Estado del formulario: <b> {{ formDocente.status}}</b>
    </p>
    <p>
      Validacion del formulario: <b> {{ formDocente.valid }}</b>
    </p>

    <form class="m-4" [formGroup]="formDocente" (ngSubmit)="guardarDocente();">
      <div class="form-group row">
        <div class="col-sm-2">
          <label for="nombre" class="col-form-label">Nombres:</label>
        </div>
        <div class="col-sm-4">
          <input type="text" class="form-control" id="nombre" formControlName="nombreDoc"
            [class.is-valid]="nombreDocValid" [class.is-invalid]="nombreDocInvalid">
          <p class="Defaults-close text-danger mt-2" *ngIf="nombreDocInvalid">
            <span>
              Nombre es requerido.
            </span>
          </p>
        </div>
        <div class="col-sm-2">
          <label for="apellidos" class="col-form-label">Apellidos:</label>
        </div>
        <div class="col-sm-4">
          <input type="text" class="form-control" id="apellidos" formControlName="apellidoDoc"
            [class.is-valid]="apellidoDocValid" [class.is-invalid]="apellidoDocInvalid">
            <p class="Defaults-close text-danger mt-2" *ngIf="apellidoDocInvalid">
              <span>
                Apellido es requerido.
              </span>
            </p>
        </div>
      </div>

      <div class="form-group row">
        <label for="periodo-acad" class="col-sm-2 col-form-label">Periodo académico:</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" name="periodo-acad" formControlName="periodoAcad"
            [class.is-valid]="periodoAcadValid" [class.is-invalid]="periodoAcadInvalid">
            <p class="Defaults-close text-danger mt-2" *ngIf="periodoAcadInvalid">
              <span>
                Periodo académico es requerido.
              </span>
            </p>
          
        </div>
      </div>
      <div class="form-group row">
        <label for="fecha-nac" class="col-sm-2">Fecha / nac:</label>
        <div class="col-sm-4">
          <input required type="date" id="fecha-nac" class="form-control" formControlName="fechaNacDoc"
            [class.is-valid]="fechaNacDocValid" [class.is-invalid]="fechaNacDocInvalid">
            <p class="Defaults-close text-danger mt-2" *ngIf="fechaNacDocInvalid">
              <span>
                Fecha es requerida.
              </span>
            </p>
        </div>
        <label for="documento" class="col-sm-2">Nro. DNI:</label>
        <div class="col-sm-4">
          <input required type="text" id="documento" class="form-control" formControlName="documentoDniDoc"
            [class.is-valid]="documentoDniDocValid" [class.is-invalid]="documentoDniDocInvalid" minlength="8"
            maxlength="8" pattern="[1-9]*">

            <p class="Defaults-close text-danger mt-2" *ngIf="formDocente.get('documentoDniDoc').hasError('required') && formDocente.get('documentoDniDoc').touched">
              <span>
                DNI es requerido.
              </span>
            </p>
            <p class="Defaults-close text-danger mt-2" *ngIf="documentoDniDocInvalid">
              <span>
                DNI debe contener 8 carácteres.
              </span>
            </p>
            <p class="Defaults-close text-danger mt-2" *ngIf="formDocente.get('documentoDniDoc').hasError('pattern')">
              <span>
                DNI debe contener solo números.
              </span>
            </p>
        </div>
      </div>
      <div class="form-group row">
        <label for="passowrd" class="col-sm-2">Password:</label>
        <div class="col-sm-4">
          <input required type="password" id="passowrd" class="form-control" formControlName="passoword1Doc"
          [class.is-valid]="passoword1DocValid" [class.is-invalid]="passoword1DocInvalid">
          <p class="Defaults-close text-danger mt-2" *ngIf="passoword1DocInvalid">
            <span>
              Contraseña es requerida.
            </span>
          </p>
        </div>
        <label for="passowrd2" class="col-sm-2">Repetir Password:</label>
        <div class="col-sm-4">
          <input required type="password" id="passowrd2" class="form-control" formControlName="passoword2Doc"
          [class.is-valid]="passoword2DocValid " [class.is-invalid]="password2NoValido">
          <p class="Defaults-close text-danger mt-2" *ngIf="password2NoValido">
            <span>
              Las contraseñas son diferentes.
            </span>
          </p>
          <p class="Defaults-close text-danger mt-2" *ngIf="passoword2DocInvalid">
            <span>
              Confirme su Contraseña.
            </span>
          </p>
        </div>
      </div>
      <div class="form-group row mt-3">
        <div class="col-sm-3 text-center">
          <button type="submit" class="btn btn-primary btn-block">Registrar</button>
        </div>
        <div class="col-sm-3 text-center">
          <button type="reset" class="btn btn-info btn-block">Limpiar</button>
        </div>
      </div>
    </form>



  </div>
</div>