 <!-- NUESTRA VISION Y MISION-->
 <section>
    <div class=" d-flex justify-content-between">
        <div class="col-md-4 p-0">
            <p class="separadores">NUESTRA</p>
        </div>
        <div class="col-md-8 p-0 align-self-end">
            <hr class="linea_separador">
        </div>
    </div>
    <!-- VISION -->
    <div class="row ">
        <div class="col-lg-7">
            <div style="padding: 0px 10%;">
                <h3 class="separadores vision_mision my-3 text-center">VISIÓN</h3>
            </div>
            <blockquote class="row">
                <div class="d-flex justify-content-end col-lg-1">
                    <i class="fa fa-quote-left comilla"></i>
                </div>
                <p class="card-text col-lg-10" style=" margin: 0px; padding: 39px 0px;" align="justify">
                    Ser al 2025 una Institución Educativa que brinde una educación de calidad con profesores
                    calificados, que garantice un aprendizaje significativo y la formación integral de los
                    alumnos, a través de la investigación y experimentación, fortaleciendo así su creatividad
                    con el apoyo de la ciencia y la tecnología, equipamiento de los talleres y la mejora de la
                    infraestructura,
                </p>
                <div class="d-flex align-items-end col-lg-1">
                    <i class="fa fa-quote-right comilla"></i>
                </div>
                <hr style="width: 100%; border: solid #B00D0F 1px; margin:30px 39px;">
            </blockquote>

        </div>
        <div class="col-lg-5 d-flex align-items-center">
            <figure style="text-align: center;margin: 0px; padding: 0px;" >
                <img class="mis_vis" src="assets/imgs/mision.jpg" alt="">
            </figure>
        </div>
    </div>
    <!-- MISION -->
    <div class="row">
        <div class="col-lg-5 d-flex align-items-center">
            <figure style="text-align: center;">
                <img class="mis_vis" src="assets/imgs/vision.jpg" alt="">
            </figure>
        </div>
        <div class="col-lg-7">
            <div style="padding: 0px 10%;">
                <h3 class="separadores vision_mision my-3 text-center">MISIÓN</h3>
            </div>
            <blockquote class="row">
                <div class="d-flex justify-content-end col-lg-1">
                    <i class="fa fa-quote-left comilla"></i>
                </div>
                <p class="card-text col-lg-10" style=" margin: 0px; padding: 39px 0px;" align="justify">

                    Somos una Institución Educativa Pública de gestión estatal que brinda un servicio educativo
                    formando estudiantes líderes, humanistas, solidarios y con espíritu emprendedor frente a las
                    diversas opciones laborales que nos ofrece la sociedad actual siendo así mismo conscientes
                    de la conservación de medio ambiente.
                </p>
                <div class="d-flex align-items-end col-lg-1">
                    <i class="fa fa-quote-right comilla"></i>
                </div>
                <hr style="width: 100%; border: solid #B00D0F 1px; margin:30px 39px;">
            </blockquote>
        </div>
    </div>
</section>